<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.undef.patois"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/patois"
        >

        <activity
            android:name=".IntroActivity"
            android:label="Patois Intro"
            android:theme="@style/Theme.IntroActivity"
            android:windowSoftInputMode="adjustResize"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".EditLanguagesActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".BrowseWordsActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".EditWordActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".PracticeActivity"
            />

    </application>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8"
        />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"
        />

</manifest> 
